@import url(//fonts.googleapis.com/css?family=Montserrat:300,400,500);
.team2 {
  font-family: "Montserrat", sans-serif;
  color: #8d97ad;
  font-weight: 300;
}

.team2 h1,
.team2 h2,
.team2 h3,
.team2 h4,
.team2 h5,
.team2 h6 {
  color: #3e4555;
}

.team2 h5 {
	line-height: 22px;
  font-size: 18px;
}

.team2 .font-weight-medium {
  font-weight: 500;
}

.team2 .subtitle {
  color: #8d97ad;
  line-height: 24px;
	font-size: 13px;
}

.team2 .pro-pic {
  min-height: 200px;
}

.team2 .pro-pic .card-img-overlay {
  background: rgba(26, 139, 243, 0.87);
  display: none;
}

.team2 .pro-pic .card-img-overlay ul {
  top: 50%;
}

.team2 .pro-pic .card-img-overlay ul li a {
  -webkit-transition: 0.1s ease-in;
  -o-transition: 0.1s ease-in;
  transition: 0.1s ease-in;
}

.team2 .pro-pic .card-img-overlay ul li a:hover {
  -webkit-transform: translate3d(0px, -5px, 0px);
  transform: translate3d(0px, -5px, 0px);
}

.team2 .pro-pic:hover .card-img-overlay {
  display: block;
}
